

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info p-4 col-12">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">47<sup>th</sup><sub>cafe</sub></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item px-3">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" href="#">This Is Us </a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" href="#">Menu</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item px-3">
                        <a class="nav-link active" href="#">Log In</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="bottle">

        <div class="">
            <h5 class="cafe pt-5 px-5">
                Cafe & Restaurant Est. 2035
            </h5>
        </div>
        <div>
            <h1 class="your px-5 pt-3">
                Your Go-to Spot for<br>Delicious Eats & Coffee
            </h1>
        </div>
        <div class="button1">

            <button type="button" class="btn btn-outline-light mx-5 p-3">Order Online</button>
            <button type="button" class="btn btn-outline-light p-3">Our Menu</button>

        </div>
    </div>

    <div class="color p-2">

        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="10000">
                    <p class="d-block w-100 text-center">Weekend Brunch I Saturday 9am - 2pm</p>
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <p class="d-block w-100 text-center">Daily Deal | Coffee & Pastry $3.99</p>
                </div>
                <div class="carousel-item">
                    <p class="d-block w-100 text-center">poda dei</p>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="card-group">
        <div class="card">
            <img src="" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title fs-3 mx-6 p-5 mt-5"><b>Eat.</b></h1>
                <p class="card-text fs-5 mx-5">Breakfast, Lunch and Artisanal Pastries<br><br><br>
                    I'm a paragraph. Click here to add your own text and edit<br>
                    me. I’m a great place for you to tell a story and let your<br>
                    users know a little more about you.

                </p>
                <button type="button" class="btn btn-outline-dark mx-5 p-3">See More</button>
            </div>

        </div>
        <div class="card">
            <img src="../images/knife.jpg" class="card-img-top">
        </div>

    </div>
    <div class="card-group">

        <div class="card">
            <img src="../images/cup.jpg" class="card-img-top">
        </div>
        <div class="card">
            <img src="" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title fs-3 mx-6 p-5 mt-5"><b>Drink.</b></h1>
                <p class="card-text fs-5 mx-5">The Freshest Cup in Town<br><br><br>
                    I'm a paragraph. Click here to add your own text and edit<br>
                    me. I’m a great place for you to tell a story and let your<br>
                    users know a little more about you.

                </p>
                <button type="button" class="btn btn-outline-dark mx-5 p-3">See More</button>
            </div>

        </div>

    </div>
    <div class="card-group">
        <div class="card">
            <img src="" class="card-img-top">
            <div class="card-body">
                <h1 class="card-title fs-3 mx-6 p-5 mt-5"><b>Enjoy.</b></h1>
                <p class="card-text fs-5 mx-5">Make Yourself at Home<br><br><br>
                    I'm a paragraph. Click here to add your own text and edit<br>
                    me. I’67%m a great place for you to tell a story and let your<br>
                    users know a little more about you.

                </p>
                <button type="button" class="btn btn-outline-dark mx-5 p-3">Visit Us</button>
            </div>

        </div>
        <div class="card figure">
            <img src="../images/lady.jpg" class="card-img-top">
        </div>

    </div>
    <div class="container-fluid rose" style="height:400px">
        <h1 class="text-center rrr p-5 "><b>Drop By for a Bite.</b></h1>


        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col col-lg-2">
                    <h1 class="fs-3 px-1">Address</h1><br>
                    <p>500 Terry Francine St.</p>

                    <p>San Francisco,CA</p>
                </div>

                <div class="col col-lg-2 px-3">
                    <h1 class="fs-3">OpeningHours</h1><br>
                    <p>Mon - Fri: 9am - 6pm<br>
                        Mon - Fri: 9am - 6pm<br>
                        ​Sunday: Closed
                    </p>
                </div>
            </div>

        </div>

    </div>

    <div class="card-group">
        <div class="card">
            <img src="../images/leaf.jpg" class="card-img-top">
        </div>
        <div class="card">
            <img src="../images/bulb.jpg" class="card-img-top">
        </div>
        <div class="card">
            <img src="../images/velu.jpg" class="card-img-top">
        </div>
        <div class="card">
            <img src="../images/table.jpg" class="card-img-top">
        </div>
        <div class="card">
            <img src="../images/dog.jpg" class="card-img-top">
        </div>
    </div>


    <!-- <div class="col-12 ppp d-flex">
        <div>
            <h3 class="xxx px-5 pt-5">Newsletter</h3>
            <p class="yyy px-5 ">Stay up to date with all the latest from<br>47th Cafe</p>
            <p class="zzz px-5 pt-3">Email*</p>
        </div>
        <div class="pt-5 px-5 mx-5 aaa">
            <h3 class="">Talk to Us</h3>
            <p class="pt-3">123-456-7890<br>info@mysite.com</p>
            <p class="pt-3">500 Terry Francine St.<br>San Francisco, CA 94158</p>
        </div>
        <div class="bbb px-3 py-5">
            <h4 class="">Instagram<br>Facebook<br>twitter</h4>
                
        </div>

    </div> -->



    <!-- <div class="master">
            <p>Cafe & Restaurant Est. 2035</p>
        </div>
        <div class="leo">
            <p><b>Your Go-to Spot for <br>Delicious Eats & Coffee</b></p>

        </div>480
        </div> -->
    <!-- </div> -->
    <!-- <div class="bheem">
        <div class="raju">
            <p>Weekend Brunch I Saturday 9am - 2pm</p>
        </div>

    </div> -->

    <!-- <div class="white"> --
        <div class="eat">
            <h1 class="bike">
                <b>Eat.</b>
            </h1>
            <p class="spoon">
                Breakfast, Lunch and Artisanal Pastries<br><br><br>
                I'm a paragraph. Click here to add your own text and edit<br>
                me. I’m a great place for you to tell a story and let your<br>
                users know a little more about you.
            </p>
            <button class="click">See More</button>

        </div>
        <div class="knife">
            <img src="./images/eat.jpg">
        </div>
    </div>
    <div class="white2">
        <div>
            <img src="./images/cup.jpg">
        </div>
        <div class="cup">
            <h1 class="tea">
                <b>Drink.</b>
            </h1>

            <p class="drink">
                The Freshest Cup in Town<br><br><br>
                I'm a paragraph. Click here to add your own text and edit<br>
                me. I’m a great place for you to tell a story
                and let your<br>
                users know a little more about you.
            </p>
            <button class="click2">See More</button>

        </div>
    </div>
    <div class="table">
        <div class="lady">
            <h1 class="chair">
                <b>Enjoy.</b>
            </h1>
            <p class="bite">
                Make Yourself at Home<br><br><br>
                I'm a paragraph. Click here to add your own text and edit<br>
                me. I’m a great place for you to tell a story and let your<br>
                users know a little more about you.
            </p>
            <button class="click3">Visit Us</button>

        </div>
        <div class="figure">
            <img src="./images/lady.jpg">
        </div>
    </div>
    <div class="fff">
        <h1 class="ggg">Drop By for a Bite.</h1>

        <div class="pink">



            <div class="address">

                <p>Address</p>
                <p class="lap">500 Terry Francine St.</p>
                <p class="lap2">San Francisco, CA 94158</p>

            </div>

            <div class="open">
                <p>Opening Hours</p>
                <p class="lap3">Mon - Fri: 9am - 6pm</p>
                <p class="lap4">​​Saturday: 10am - 2pm</p>
                <p class="lap5">​Sunday: Closed</p>
            </div>

        </div>

    </div>
    <div class="leaf">
        <div class="ice">
            <img src="./images/leaf.jpg">
        </div>
        <div class="ice2">
            <img src="./images/bulb.jpg">
        </div>
        <div class="ice3">
            <img src="./images/velu.jpg">
        </div>
        <div class="ice4">
            <img src="./images/table.jpg">
        </div>
        <div class="ice5">
            <img src="./images/dog.jpg">
        </div>

    </div>
    <div class="bro">
        <div class="bro1">
            <p class="news1">Newsletter</p>
            <p class="news2">Stay up to date with all the latest from<br><br>
                47th Cafe</p><br>
            <p class="news3">Email*</p>
            <div class="com">

                <div class="com1">
                    <input class="chat" type="text" id="email">
                    <button class="join">Join</button>
                </div>
            </div>
        </div>

        <div class="talk">
            <p class="to">Talk to Us</p>
            <p class="to2">123-456-7890<br>info@mysite.com</p><br>
            <p class="to3">500 Terry Francine St.</p>
        </div>
        <div class="app">
            <p class="insta"><b>Instagram</b><br><b>Facebook</b><br><b>Twitter</b></p>
        </div>

    </div> -->

</body>

</html>